app-root {
    width: 100%;
    height: 100%;
    display: flex;
}

// .divider {
//   width: 1px;
//   border-left: 1px lightgray solid;
//   margin: 0px 50px;
// }

.reset-button {
  background: #0570FE;
  color: white;
}
